{#
/**
 * @file
 * Default template for feed displays that use the RSS style.
 *
 * Available variables:
 * - link: The link to the feed (the view path).
 * - namespaces: The XML namespaces (added automatically).
 * - title: The title of the feed (as set in the view).
 * - description: The feed description (from feed settings).
 * - langcode: The language encoding.
 * - channel_elements: The formatted channel elements.
 * - items: The feed items themselves.
 *
 * @see template_preprocess_views_view_rss()
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xml:base="{{ url('<front>') }}"{{ namespaces }}>
  <channel>
    <atom:link href="{{ url('<current>') }}" rel="self" type="application/rss+xml" />
    {% for item in podcast_elements -%}
      <{{ item.key }}{{ item.attributes -}}
      {% if item.value -%}
        >{{ item.value }}</{{ item.key }}>
      {% else -%}
        {{ ' />' }}
      {% endif %}
    {%- endfor %}
    {{ items }}
  </channel>
</rss>
{% endapply %}
